<label class="flex justify-between">
  <div>
    <input
      title="status"
      type="checkbox"
      [checked]="todo?.completed"
      class="mr-4"
      (click)="toggleTodo($event)"
    />
    <span
      class="text-2xl text-blue-500"
      [ngClass]="{
          'line-through': todo?.completed,
          'text-green-500': todo?.completed,

        }"
      >{{ todo?.name }}</span
    >
  </div>
  <div>
    <button
      class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded-full mr-4"
      (click)="editTodo()"
    >
      edit
    </button>
    <button
      class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full"
      (click)="deleteTodo()"
    >
      delete
    </button>
  </div>
</label>
